---
import Skills from "../components/Skills.astro";
import ContactUs from "../components/contact-us.astro";
import Home from "../components/home.astro";
import Layout from "../components/layout.astro";
import Projects from "../components/projects.astro";
---

<Layout>
  <main>
    <Home />
    <Projects />
    <Skills />
    <ContactUs />
  </main>
</Layout>
