---
import Skills from "../components/Skills.astro";

import Home from "../components/home.astro";
import Layout from "../components/layout.astro";
import Projects from "../components/projects.astro";
---

<Layout title={"Gunasekaran Palani"} >
  <main>
    <Home />
    <Projects />
    <Skills />
  </main>
</Layout>
