---
import Skills from "../components/Skills.astro";

import Home from "../components/home.astro";
import HomeProjects from "../components/homeProjects.astro";
import Layout from "../components/layout.astro";
---

<Layout title={"Gunasekaran Palani"} >
  <main>
    <Home />
    <HomeProjects />
    <Skills />
  </main>
</Layout>



