---
import Home from "../components/home.astro";
import Layout from "../components/layout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gunasekaran Palani</title>
  </head>
  <body class="mx-32 my-3">
    <Layout />
  </body>
</html>

<style type="text/css">
  body {
    font-family: Comfortaa;
  }
</style>
