---
import Layout from "../components/layout.astro";
import Projects from "../components/projects.astro";
---



<Layout title={"Guna | Contact"}>
    <main>
        <Projects />
    </main>
  </Layout>


  