---
---

<div>
  <div class="flex justify-center my-4 text-3xl font-extrabold">
    <span class="border-solid border-b-[3px] leading-snug border-[#fdc435]">Code with Guna</span>
  </div>
  <div class="flex justify-center my-4">
    <div>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Hello, I am</div>
        <input type="text" class="rounded-md w-96 p-2 focus:outline-[#fdc435]" id="name" name="name" placeholder="Name" />
      </div>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Please contact me at</div>
        <input type="text" class="rounded-md w-96 p-2 focus:outline-[#fdc435]" id="name" name="name" placeholder="Email Address" />
      </div>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Phone number</div>
        <input class="rounded-md w-96 p-2 focus:outline-[#fdc435]" id="name" name="name" placeholder="(xxxxx xxxx)" />
      </div>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Message</div>
        <textarea rows="4" class="rounded-md w-96 p-2 focus:outline-[#fdc435]" id="name" name="name" placeholder="Write your needs"></textarea>
      </div>
      <button class="p-2 w-full my-4 bg-[#fdc435] font-semibold rounded-md px-2">Send</button>
    </div>
  </div>
</div>
