---
import Title from "./common/Title.astro";
---

<div data-aos="fade-up" class="my-10">
  <Title label="CODE WITH GUNA" />
  <div class="md:flex  justify-center m-4">
    <div>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Hello, I am</div>
        <input
        
        type="text" class="rounded-md bg-gray-50 w-full md:w-96 p-2 focus:outline-[#fdc435]" id="Name" name="Name" placeholder="Name" onblur="nameValidation()" />
      </div>
      <small id="nameError" class="error"></small>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Please contact me at</div>
        <input
          type="email"
          class="rounded-md bg-gray-50 w-full md:w-96 p-2 focus:outline-[#fdc435]"
          id="Email"
          name="Email"
          placeholder="Email Address"
          onblur="emailValidation()"
        />
      </div>
      <small id="emailError" class="error"></small>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Phone number</div>
        <input
          class="rounded-md bg-gray-50w-full md:w-96 p-2 focus:outline-[#fdc435]"
          type="tel"
          id="PhoneNumber"
          name="PhoneNumber"
          placeholder="(xxxxx xxxx)"
          onblur="phoneValidation()"
        />
      </div>
      <small id="phoneError" class="error"></small>
      <div>
        <div class="my-3 font-medium text-[1em] text-[#828282]">Message</div>
        <textarea
          rows="4"
          class="rounded-md bg-gray-50 w-full md:w-96 p-2 focus:outline-[#fdc435]"
          id="Message"
          name="Message"
          placeholder="Write your needs"
          onblur="messageValidation()"></textarea>
      </div>
      <small id="messageError" class="error"></small>
      <button class="p-2 w-full my-4 bg-[#fdc435] font-semibold rounded-md px-2" id="hadleSubmit">Send</button>
    </div>
  </div>
</div>
<style>
  .error {
    color: red;
    font-size: 12px;
  }
</style>
