---
---

<div class="">
  <div class="relative">
    <div class="flex justify-center item-center gap-5 relative z-50">
      <a href="https://wa.me/9751143913?text=hi%guna%20Here" target="_blank"
        ><img class="cursor-pointer" src="/whatsapp.svg" /></a
      >
      <a
        href="https://www.linkedin.com/in/gunasekaran-palani-41a0ab223/"
        target="_blank"><img class="cursor-pointer" src="/linkedIn.svg" /></a
      >
      <a href="https://twitter.com/Gunapalani19" target="_blank"
        ><img class="cursor-pointer" src="/twitter.svg" /></a
      >
      <a href="https://www.instagram.com/gunapalani_19/" target="_blank"
        ><img class="cursor-pointer" src="/instagram.svg" /></a
      >
      <a href="https://www.facebook.com/gunalogesh.guna.7" target="_blank"
        ><img class="cursor-pointer" src="/facebook.svg" /></a
      >
    </div>
    <div class="text-[#828282] my-5 flex justify-center ">
      <a href="/" class="cursor-pointer z-50">Gunasekaran Palani 2025</a>
    </div>

    <div class="absolute top-[-40px] lg:top-[-550px] background"></div>
  </div>
</div>

<style>
  .background {
    content: url("/footer-bg.png");
    background-size: cover;
    width: 100%;
    background-repeat: repeat;
  }
</style>
