---
---

<div>
  <div class="flex justify-center item-center gap-5">
    <img class="cursor-pointer" src="/whatsapp.svg" />
    <img class="cursor-pointer" src="/linkedIn.svg" />
    <img class="cursor-pointer" src="/twitter.svg" />
    <img class="cursor-pointer" src="/instagram.svg" />
    <img class="cursor-pointer" src="/facebook.svg" />
  </div>
  <div class="text-[#828282] my-5 flex justify-center">Gunasekaran Palani 2023</div>
</div>
<style></style>
