---

---

<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
  rel="stylesheet"
/>

<header
  class="fixed w-full z-50 bg-[#0a192f]/90 backdrop-blur-md border-b border-[#233554]/50"
>
  <div class="container mx-auto px-8">
    <nav class="flex items-center justify-between h-[80px]">
      <a href="/" class="text-2xl font-bold text-[#64ffda] font-signature"
        >Gunasekaran Palani</a
      >

      <!-- Desktop Menu -->
      <div class="hidden md:flex gap-8 items-center">
        <a
          href="#skills"
          class="text-base text-gray-300 hover:text-[#64ffda] transition-colors duration-300"
          >Skills</a
        >
        <a
          href="/#blogs"
          class="text-base text-gray-300 hover:text-[#64ffda] transition-colors duration-300"
          >Blogs</a
        >
        <a
          href="/#projects"
          class="text-base text-gray-300 hover:text-[#64ffda] transition-colors duration-300"
          >Projects</a
        >
        <a
          href="/#certifications"
          class="text-base text-gray-300 hover:text-[#64ffda] transition-colors duration-300"
          >Certifications</a
        >
        <a
          href="/#contact"
          class="text-base text-gray-300 hover:text-[#64ffda] transition-colors duration-300"
          >Contact</a
        >
        <a
          href="/resume/Gunasekaran P - Software Engineer.pdf"
          download="Guna-Palani-Software-Engineer.pdf"
          class="text-base px-4 py-2 border border-[#64ffda] text-[#64ffda] rounded-md hover:bg-[#64ffda]/10 transition-colors duration-300"
          >Resume</a
        >
      </div>

      <!-- Mobile Menu Button -->
      <button
        class="md:hidden text-white"
        id="menuButton"
        aria-label="Toggle menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </nav>

    <!-- Mobile Menu -->
    <div class="md:hidden relative">
      <div
        id="mobileMenu"
        class="absolute inset-0 z-50 transform translate-x-full transition-transform duration-300 ease-in-out"
      >
        <div class="flex justify-end p-6">
          <button id="closeMenu" aria-label="Close menu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <nav class="flex flex-col items-center space-y-6 p-8">
          <a
            href="/#skills"
            class="text-lg font-medium text-gray-300 hover:text-[#64ffda]"
            >Skills</a
          >
          <a
            href="/#blogs"
            class="text-base text-gray-300 hover:text-[#64ffda] transition-colors duration-300"
            >Blogs</a
          >
          <a
            href="/#projects"
            class="text-lg font-medium text-gray-300 hover:text-[#64ffda]"
            >Projects</a
          >
          <a
            href="/#certifications"
            class="text-base text-gray-300 hover:text-[#64ffda] transition-colors duration-300"
            >Certifications</a
          >
          <a
            href="/#contact"
            class="text-lg font-medium text-gray-300 hover:text-[#64ffda]"
            >Contact</a
          >
          <a
            href="/resume/Gunasekaran P - Software Engineer.pdf"
            download="Guna-Palani-Software-Engineer.pdf"
            class="text-lg font-medium px-4 py-2 border border-[#64ffda] text-[#64ffda] rounded-md hover:bg-[#64ffda]/10 transition-colors duration-300"
            >Resume</a
          >
        </nav>
      </div>
    </div>
  </div>
</header>

<script>
  const menuButton: any = document.getElementById("menuButton");
  const closeButton: any = document.getElementById("closeMenu");
  const mobileMenu: any = document.getElementById("mobileMenu");
  const mobileMenuLinks = document.querySelectorAll("#mobileMenu a");

  function toggleMenu() {
    mobileMenu.classList.toggle("translate-x-full");
  }

  menuButton.addEventListener("click", toggleMenu);
  closeButton.addEventListener("click", toggleMenu);

  mobileMenuLinks.forEach((link) => {
    link.addEventListener("click", toggleMenu);
  });
</script>
