---
---

<div
  class="hidden fixed md:block bg-[#445560] bg-opacity top-0 left-0 w-full z-50 text-white font-semibold"
>
  <div class="flex justify-between items-center mx-14">
    <button><a href="/">Gunasekaran Palani</a></button>
    <div class="flex gap-10 justify-end p-3">
      <button><a href="/#projects">Projects</a></button>
      <button><a href="/#skills">Skills</a></button>
      <!-- <button>Blogs</button> -->
      <button
        ><a href="contactUs">Contact<a></a></a>
        <button
          onclick="window.location.href = 'https://drive.google.com/uc?export=download&id=1-F7pi9OjKqnqmP8N3TMpPTW0Nwh_gg_y'"
          class="bg-[#fdc435] opacity-100 text-black py-[5px] px-3 rounded-md"
          >Resume</button
        >
      </button>
    </div>
  </div>
  <style>
    .bg-opacity {
      opacity: 0.7;
    }
  </style>
</div>
