---
---

<div class="flex justify-between items-center">
  <div>Madelyn Torff</div>
  <div>
    <ul class="flex gap-14">
      <li>About</li>
      <li>Projects</li>
      <li>Contacts</li>
    </ul>
  </div>
</div>
