---
import Title from "./common/Title.astro";
---

<div class="relative">
  <!-- <div class="absolute hidden md:block left-10 bottom-10 w-40"><img src="/yellow-ball.png" /></div> -->
  <!-- <div class="absolute hidden md:block left-10 top-10 w-24"><img src="/yellow-ball.png" /></div> -->
  <section id="projects" class="md:mx-72 my-10 md:my-28 relative">
    <Title label="PROJECT'S" />

    <div class="">
      <div
        class="md:flex justify-center items-center bg-white my-14 rounded-xl"
        data-aos="fade-up-right"
      >
        <div class="md:w-1/2 m-5 md:m-10">
          <div class="text-2xl font-bold my-3">Portfolio Webpage</div>
          <div class="text-[#828282] my-3">
            This is a web project crafted with HTML, CSS, and JavaScript,
            showcasing your professional work and skills in a visually appealing
            and interactive format, making it a valuable tool for
            self-presentation and personal branding.
          </div>
          <a
            href="https://codepen.io/gunapalani19-the-sans/pen/zYpxxqr"
            target="_blank"
          >
            <button class="border border-black rounded-3xl py-1 px-3 my-3">
              View Project
            </button>
          </a>
        </div>
        <div class="md:w-1/2 m-5 md:m-10">
          <div class="h-64">
            <img
              class="rounded-tr-xl rounded-br-xl w-full h-full"
              src="/portfolio.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div
        class="md:flex justify-center items-center bg-white my-14 rounded-xl"
        data-aos="fade-up-left"
      >
        <div class="md:w-1/2 m-5 md:m-10">
          <div class="text-2xl font-bold my-3">Product Landing Page</div>
          <div class="text-[#828282] my-3">
            This is a web project created with HTML, CSS, and JavaScript,
            designed to showcase and promote products with an attractive,
            interactive, and user-friendly interface. It provides a platform for
            businesses to present their products effectively to potential
            customers.
          </div>
          <a
            href="https://codepen.io/gunapalani19-the-sans/pen/PoOMPKd"
            target="_blank"
          >
            <button class="border border-black rounded-3xl py-1 px-3 my-3">
              View Project
            </button>
          </a>
        </div>
        <div class="md:w-1/2 m-5 md:m-10">
          <div class="h-64">
            <img
              class="rounded-tr-xl rounded-br-xl w-full h-full"
              src="/product-landing.jpg"
            />
          </div>
        </div>
      </div>
    </div>
    <a href="/projects"
      ><button
        data-aos="zoom-in-up"
        class="p-3 font-bold m-auto flex items-center justify-center gap-1 bg-[#fdc435] rounded-xl"
        >View more Projects<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="currentColor"
          class="w-5 h-3"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
        </svg></button
      ></a
    >
  </section>
</div>
