---
import FuzzyText from "./FuzzyText ";
---

<div
  class="bg-black min-h-screen flex flex-col gap-6 items-center justify-center text-white text-6xl font-bold"
>
  <FuzzyText baseIntensity={0.2} hoverIntensity={0.7} client:load>
    {String(404 )}
  </FuzzyText>
  <FuzzyText baseIntensity={0.2} hoverIntensity={0.7} client:load>
    {String("Go to Home")}
  </FuzzyText>
</div>
